<div class="container">
  <div class="row">
    <mat-form-field class="mr-8">
      <mat-label>Hisse Seçiniz</mat-label>
      <mat-select
        placeholder="Hisse Seçiniz"
        multiple
        [(ngModel)]="selectedStocks"
      >
        <mat-option *ngFor="let stock of stocks" [value]="stock">
          {{ stock }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [ngModel]="range.value.start"
          (ngModelChange)="range.controls.start.setValue($event)"
        />
        <input
          matEndDate
          placeholder="End date"
          [ngModel]="range.value.end"
          (ngModelChange)="range.controls.end.setValue($event)"
        />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="filterData()"
    >
      Göster
    </button>
  </div>
</div>

<div class="container">
  <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Tarih</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="openPrice">
      <th mat-header-cell *matHeaderCellDef>Kapanış Fiyatı</th>
      <td mat-cell *matCellDef="let element">{{ element.openPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Sembol</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
  </table>
</div>

<div class="container">
  <div class="row">
    <fusioncharts
      [type]="type"
      [dataFormat]="dataFormat"
      [dataSource]="dataSource2"
      width="1200"
      height="320"
    >
    </fusioncharts>
  </div>
</div>
