<div class="container w-full h-full flex py-4 gap-4 flex-col">
  <div class="container w-full h-full flex py-4 gap-4 flex-col">
    <div
      class="card w-full flex flex-wrap items-center justify-between px-4 p-2"
    >
      <div class="flex items-center flex-wrap gap-4">
        <mat-form-field class="w-52">
          <mat-label>Hisse Seçiniz</mat-label>
          <mat-select
            placeholder="Hisse Seçiniz"
            multiple
            [(ngModel)]="selectedStocks"
          >
            <mat-option *ngFor="let stock of stocks" [value]="stock">
              {{ stock }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tarih seçiniz</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              [(ngModel)]="range.start"
            />
            <input matEndDate placeholder="End date" [(ngModel)]="range.end" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="float-right"
        (click)="filterData()"
      >
        Göster
      </button>
    </div>
  </div>

  <vex-stock-chart
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [chartDataSource]="chartDataSource"
  ></vex-stock-chart>

  <vex-stock-table [filteredDataSource]="filteredDataSource"></vex-stock-table>
</div>
<!-- <h2>Animals in the Zoo</h2>
<ul>
  <li *ngFor="let animal of animals$ | async">{{ animal }}</li>
</ul>
<input type="text" placeholder="Enter animal name" [(ngModel)]="newAnimal">
<button (click)="addNewAnimal()">Add Animal</button> -->

<button (click)="filter(filters)">Add Animal</button> 